<%= render "shared/header2" %>

<div class= 'main'>
  <div class= 'team-main'>
  <h1 class= 'main-header'>チーム編集</h1>
    <%= form_with model: [@company,@team], class: 'form2', local: true do |f| %>
      <div class='member-select'>
        <%= collection_check_boxes(:team,:member_ids, @company.members, :id, :member_name ) do |member| %>
          <%= member.label { member.check_box + member.text } %>
        <% end %>
      </div>
      <%= f.submit '編集', class: 'form-submit' %>
      <%= link_to 'Back', company_team_path(@company,@team.id), class: 'btn2'%>
    <% end %>
  </div>
</div>