<div class= 'event-main'>
    <h1 class= 'main-header'>作業リスト</h1>
    <table class= "event-table">   
      <tbody class= "event-tbody">
        <% if @plan.events.present?%>
          <% @plan.events.each do |event|%>
          <tr >
            <td class= "event-td-a"> 作業名：<%= event.title %> </td>
            <td class= "event-td-b"> 開始日：<%= event.start_date.strftime('%m/%d') %> </td>
            <td class= "event-td-b"> 終了日：<%= event.end_date.strftime('%m/%d') %> </td>
            <td class= "event-td-c"> 期限：<%= event.limit_date.strftime('%m/%d') %> </td>
            <td class= "event-td-d"> 状況：<%= event.status.name %> </td>
            <td class= "event-td-e"> <%= link_to '編集', edit_company_plan_event_path(@company,@plan,event.id), class: 'btn2' %><%= link_to '削除', company_plan_event_path(@company,@plan,event.id), method: :delete, class: 'btn2' %></td>
          </tr>
          <% end %>
        <% else %>
          <td class= "event-td">登録なし</td>
        <% end %>
      </tbody>
    </table>
    <%= link_to '+作業', new_company_plan_event_path(@company,@plan), class: 'btn2'%>
  </div>