<%= render "shared/header2" %>

<div class= 'team-main'>
  <h1 class= 'main-header'>+作業</h1>
  <%= form_with model: [@company,@plan,@event], class: 'form2', local: true do |f| %>
    <div class="form-input">
      <%= f.text_field :title, class: 'form-company', placeholder: '作業名を入力してください' , autocomplete: 'off'%>
      <%= f.text_field :body, class: 'form-company', placeholder: '作業内容を入力してください' , autocomplete: 'off'%>
      <div class="event-form">
        開始日<%= f.date_field :start_date, class:'form-date'%>
        終了日<%= f.date_field :end_date, class:'form-date' %>
        期限<%= f.date_field :limit_date, class:'form-date' %>
        状況<%= f.collection_select(:status_id, Status.all, :id, :name, {}, {class:"status-select"}) %>
      </div>
    </div>
    <%= f.submit '追加', class: 'form-submit' %>
    <%= link_to 'Back', company_plan_path(@company.id, @plan.id), class: 'btn2'%>
  <% end %>
</div>